<mat-card>
  <mat-card-title>Confirmar Exclusão Produto</mat-card-title>
  <ng-container *ngIf="product">
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" [value]="product.name" name="name" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" [value]="product.price" name="price" disabled>
    </mat-form-field>
  </form>
</ng-container>
  <button mat-raised-button (click)="deleteProduct()" color="warning">Excluir</button>
  <button mat-raised-button (click)="cancel()" color="warning">Cancelar</button>
</mat-card>
